<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="title-page">
      <h2>Menu de Citas</h2>
    </div>
  </div>
 </div>

<div class="row paneles">
  
  <div class="col-sm-4 col-sm-offset-2">
    <div class="thumbnail">
      <%= image_tag ("register_date.jpg"), :class => "thumbnail_image" %>
      <div class="caption">
        <h3>Registrar Cita</h3>
        <p>La mejor manera de llevar un adecuado y preciso control de la salud de sus pacientes,
            es mediante el apropiado registro de la informacion de sus citas medicas.</p>
        <p><%= link_to 'Registrar', menu_nueva_cita_path, class: "btn btn-md btn-primary" %></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag ("search_date.jpg"), :class => "thumbnail_image"  %>
      <div class="caption">
        <h3>Buscar Cita</h3>
        <p>Consulte el historial medico de sus pacientes a traves del registro total de las citas,
           realice busquedas por nombre de paciente o por fecha para una vista adecuada.</p>
        <p><%= link_to 'Buscar', menu_citas_path, class: "btn btn-md btn-primary" %></p>
      </div>
    </div>
  </div>
  
</div>