<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="title-page">
      <h2>Menu de Citas</h2>
    </div>
  </div>
 </div>

<div class="row paneles">
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag ("register_date.jpg"), :class => "thumbnail_image" %>
      <div class="caption">
        <h3>Registrar Consulta</h3>
        <p>La mejor manera de llevar un adecuado y preciso control de la salud de sus pacientes,
            es mediante el apropiado registro de la informacion de sus consultas medicas.</p>
        <p><%= link_to 'Registrar', menu_nueva_cita_path, class: "btn btn-md btn-primary" %></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag ("search_date.jpg"), :class => "thumbnail_image"  %>
      <div class="caption">
        <h3>Buscar Consulta</h3>
        <p>Consulte el historial medico de sus pacientes a traves del registro total de las consultas,
           realice busquedas por nombre de paciente o por fecha para una vista adecuada.</p>
        <p><%= link_to 'Buscar', anamnesis_path, class: "btn btn-md btn-primary" %></p>
      </div>
    </div>
  </div>
  
   <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag ("search-cita.jpg"), :class => "thumbnail_image"  %>
      <div class="caption">
        <h3>Ver Citas</h3>
        <p>Presione el siguiente boton para obtener una lista con todas las citas programadas a futuro, 
           ordene la lista por orden alfabetico del nombre de los pacientes o por fecha.</p>
        <p><%= link_to 'Buscar', appointments_path, class: "btn btn-md btn-primary" %></p>
      </div>
    </div>
  </div>
  
</div>