<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="title-page">
      <h2>Menu de Pacientes</h2>
    </div>
  </div>
</div>

<div class="row paneles">
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag ("search_patient.jpg"), :class => "thumbnail_image" %>
      <div class="caption">
        <h3>Buscar Paciente</h3>
        <p>Busque un paciente por nombre para poder ver su informacion guardada o para realizar 
            multiples acciones con sus datos.</p>
        <p><%= link_to 'Buscar', patients_path, class: "btn btn-md btn-primary" %></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag ("register_patient.jpg"), :class => "thumbnail_image"  %>
      <div class="caption">
        <h3>Registrar Paciente</h3>
        <p>Ingrese los datos de un nuevo paciente a la base de datos para poder acceder a su 
            informacion cuando se necesite.</p>
        <p><%= link_to 'Registrar', new_patient_path, class: "btn btn-md btn-primary" %></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag ("patients.png"), :class => "thumbnail_image"  %>
      <div class="caption">
        <h3>Listar Pacientes</h3>
        <p>Esta opcion le permitira obtener una lista completa con todos los pacientes que se
            encuentran registrados en la base de datos.</p>
        <p><%= link_to 'Listar', listar_pacientes_path, class: "btn btn-md btn-primary" %></p>
      </div>
    </div>
  </div>
</div>

