<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="title-page titulo-lista-de-pacientes">
      <h2>Buscar Paciente</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    
    <%= search_form_for @q do |f| %>
    
      <div class="col-sm-6 col-sm-offset-2 barra-busqueda">
        <%= f.search_field :first_name_cont, class: "form-control", placeholder: "Ingresar nombre.", autofocus: true %>
      </div>
      
      <div class="col-sm-3">
        <%= f.submit "Buscar",  class: "btn btn-primary btn-md" %>
      </div> 
        
    <% end %>
    
    <table class="tabla-buscar-pacientes"  align="center">
      <thead>
        <tr>
          <th class="columna-boton-cita"></th>
          <th><%= sort_link(@q, :first_name, 'Nombre', default_order: :desc) %></th>
          <th><%= sort_link(@q, :age, 'Edad', default_order: :desc) %></th>
          <th><%= sort_link(@q, :email, 'Correo', default_order: :desc) %></th>
          <th><%= sort_link(@q, :blood_type, 'Tipo de Sangre', default_order: :desc) %></th>
        </tr>
      </thead>
      <tbody>
        <% @patients.each do |patient| %>
          <tr>
            <td class="columna-boton-cita">
              <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, new_anamnesi_path(patient: patient.id), 
                  class:"btn btn-success btn-xs boton-cita", title: "Registrar consulta" %>
            </td>
            <td><%= link_to patient.first_name + " " + patient.last_name, patient_path(patient) %></td>
            <td><%= patient.age %></td>
            <td><%= patient.email %></td>
            <td><%= patient.blood_type %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <div align="center">
      <%= will_paginate %>
    </div>

  </div>
</div>

