<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="title-page titulo-lista-de-pacientes">
      <h2>Lista de Pacientes</h2>
    </div>
  </div>
</div>

<div class="paginacion-top" align="center">
  <%= will_paginate %>
</div>

<% @patients.each do |patient| %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="well well-lg">
        
        <div class="patient-name">
          <%= link_to patient.first_name + " " + patient.last_name, patient_path(patient) %>
        </div>
        
        <div class="patient-actions">
            <%= link_to 'Editar', edit_patient_path(patient), class: "btn btn-xs btn-primary" %>
            <%= link_to 'Eliminar', patient_path(patient), method: :delete, 
                                               data: { confirm: "¿Esta seguro que desea eliminar el registro de este paciente?" }, 
                                               class: "btn btn-xs btn-danger"  %>
        </div>

      </div>    
    </div>
  </div>
<% end %>

<div align="center">
  <%= will_paginate %>
</div>