<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="title-page titulo-lista-de-pacientes">
      <h2>Ficha Medica</h2>
    </div>
  </div>
</div>

<div class="well col-xs-8 col-xs-offset-2">
  
  
  <h3 class="nombre_paciente" align="center">
    <%= @patient.first_name + " " + @patient.last_name %>
  </h3>
  
  <dl class="dl-horizontal">
    <dt><%= "Edad:" %></dt>
    <dd><%= @patient.age %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Direccion:" %></dt>
    <dd><%= @patient.address %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Correo electronico:" %></dt>
    <dd><%= @patient.email %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Telefono fijo:" %></dt>
    <dd><%= @patient.home_number %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Telefono movil:" %></dt>
    <dd><%= @patient.phone_numer %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Tipo de sangre" %></dt>
    <dd><%= @patient.blood_type %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Anotaciones:" %></dt>
    <dd><%= @patient.annotations %></dd>
  </dl>
  
  <div class="patient-actions">
    <%= link_to 'Crear Consulta', new_anamnesi_path(patient: @patient.id), class:"btn btn-success btn-xs"%>
    <%= link_to 'Expediente Medico', historial_path(@patient), class:"btn btn-info btn-xs"%>
    <%= link_to 'Editar', edit_patient_path(@patient), class: "btn btn-xs btn-primary" %>
    <%= link_to 'Eliminar', patient_path(@patient), method: :delete, 
                                       data: { confirm: "¿Esta seguro que desea eliminar el registro de este paciente?" }, 
                                       class: "btn btn-xs btn-danger"  %>
  </div>
  
</div>