<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="title-page titulo-lista-de-pacientes">
      <h2>Informacion de la Cita</h2>
    </div>
  </div>
</div>

<div class="well col-xs-8 col-xs-offset-2">
  
  <dl class="dl-horizontal">
    <dt><%= "Nombre del Paciente:" %></dt>
    <dd><%= link_to @appointment.patient.first_name + " " + @appointment.patient.last_name, patient_path(@appointment.patient) %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Se programo el:" %></dt>
    <dd><%= l @appointment.created_at, format: :long %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Idx:" %></dt>
    <dd><%= @appointment.idx %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Tx:" %></dt>
    <dd><%= @appointment.tx %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Anotaciones:" %></dt>
    <dd><%= @appointment.annotations %></dd>
  </dl>
  
  <dl class="dl-horizontal">
    <dt><%= "Fecha programada:" %></dt>
    <dd><%= l @appointment.fecha, format: :long %></dd>
  </dl>
  
  <div class="patient-actions">
    <%= link_to 'Editar', edit_appointment_path(@appointment, patient: @appointment.patient.id), class: "btn btn-xs btn-primary" %>
    <%= link_to 'Eliminar', appointment_path(@appointment), method: :delete, 
                                       data: { confirm: "¿Esta seguro que desea eliminar el registro de esta cita?" }, 
                                       class: "btn btn-xs btn-danger"  %>
  </div>
  
</div>